.happy-customer {
  padding: 80px 0;
}

/* LEFT & RIGHT CARDS */
.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border: 10px solid #F2F2F2;
  border-radius: 10px;
  padding: 25px;
}

/* ICON CIRCLE */
.icon-circle {
  width: 50px;
  height: 50px;
  background-color: #8B4513;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  font-size: 22px;
  margin-bottom: 12px;
}

/* MIDDLE COLUMN */
.middle-features {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* MIDDLE CARDS */
.middle-item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  border: 10px solid #F2F2F2;
  border-radius: 10px;
  padding: 20px;
}

.middle-item h2 {
  font-size: 22px;
  margin-bottom: 8px;
}
